/*
=========================================
 OpenX1 TV Focus System
=========================================
*/


.focuscontainer:focus-visible {

    outline:none!important;

    transform:scale(1.08);


    border-radius:18px;


    box-shadow:

    0 0 25px #0099ff;

}


.focuscontainer:focus-visible .cardImage {

    border:

    3px solid #0099ff;

}
